<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">

														<div class="form-group">
								<label class="col-sm-3 control-label">姓名：</label>
								<div class="col-sm-8">
									<input id="poorname" name="poorname" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">身份证：</label>
								<div class="col-sm-8">
									<input id="idnumber" name="idnumber" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">性别：</label>
								<div class="col-sm-8">

									<label class="radio-inline">
										<input type="radio" value="1" name="gender" >男
									</label>
									<label class="radio-inline">
										<input type="radio" value="0" name="gender" >女
									</label>

								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">年龄：</label>
								<div class="col-sm-8">
									<input id="age" name="age" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">职业：</label>
								<div class="col-sm-8">
									<input id="profession" name="profession" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">学历：</label>
								<div class="col-sm-8">
									<input id="edu" name="edu" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话：</label>
								<div class="col-sm-8">
									<input id="phone" name="phone" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地址：</label>
								<div class="col-sm-8">
									<input id="address" name="address" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label" >是否参加培训：</label>
								<div class="col-sm-8">

									<label class="radio-inline">
										<input type="radio" value="1" name="trainflag" >是
									</label>
									<label class="radio-inline">
										<input type="radio" value="0" name="trainflag" >否
									</label>

								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">参加培训的次数：</label>
								<div class="col-sm-8">
									<input id="trainnum" name="trainnum" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">培训内容：</label>
								<div class="col-sm-8">
									<textarea class="form-control" rows="3" name="traincontent"></textarea>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">增收额：</label>
								<div class="col-sm-8">
									<input id="augmentmoney" name="augmentmoney" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出售额：</label>
								<div class="col-sm-8">
									<input id="sellmoney" name="sellmoney" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否带动就业：</label>
								<div class="col-sm-8">

									<label class="radio-inline">
										<input type="radio" value="1" name="employedflag" >是
									</label>
									<label class="radio-inline">
										<input type="radio" value="0" name="employedflag" >否
									</label>

								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商铺名称：</label>
								<div class="col-sm-8">
									<input id="shop" name="shop" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/pooredu/pooredu/add.js">
	</script>
</body>
</html>
